body {
    margin: 0;
    background: radial-gradient(rgb(172, 220, 241),rgb(107, 209, 243));
    padding: 0;
    height: 100vh;
    
}


.gornji {
    background: url(pozz5.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    position: fixed;
    z-index: 0;
    width: 100%;
    top: -3px;
    
}


.papir {
    height: 2300px;
    background: linear-gradient(rgb(231, 234, 245), rgb(205, 195, 248));

    top: 350px;
    left: 0;
    position: fixed;
    clip-path: polygon(50% 0%, 100% 45%, 100% 100%, 0 100%, 0 45%);
    z-index: 9999;
    width: 100%;
    
}

.sijenka {
    filter: drop-shadow(0 -3mm 3mm rgba(121, 120, 120, 0.884));

}

.animate__zoomInDown  {
    left: 25px;
    
    z-index: 2;
    top: 200px;
    position: relative;
    font-family: 'Anton', sans-serif;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-family: 'Merriweather', serif;
  font-size:5rem;
}

.kutak {
    position: relative;
    top: -21px;
    left: 0px;
    transform: rotate(-90deg);
}


.knjige1 {
    position: relative;
    right: -800px;
    top: -220px;
}


#wave {
    width: 6700px;
    position: relative;
    left: -2210px;
    filter: drop-shadow(0 0 0.75rem rgb(59, 59, 59));
    

}


.slika {

    width: 150px;
    height: 20vh;
}

.logo {
    z-index: 1;
    position: relative;
    top: 10px;
    left: -15px;
}

.logo1{
    z-index: 1;
    transform: scale(0.7);
}


.logo3 {
    display: none;
}


/*-------------------------NAVBAR------------------------------------*/


.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 998;
    width: 100%;
    background: linear-gradient(-135deg, #6e9ff8, #4158d0);
    
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    clip-path: circle(20px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75% at 94% 51%);
  }
  .menu-btn{
    position: absolute;
    z-index: 999;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
   
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 50%;
  
    color: #fff;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
  
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    background: #fff;
    color: #4158d0;
    border-radius: 50%;
    border: none;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
    border-radius: 50%;
  
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 50px;
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #4158d0;
  }
  input[type="checkbox"]{
    display: none;
  }
  
  
  #ikona{
    position: fixed;
    top: 28px;
    right: 28px;
  }


/*------------------------kraj navbaraaaa----------------------------*/



/*--KARTEEEEEEEEEEEEEEEE-------------------------------*/

.card {
  margin-left: 40px;
  background-color: rgb(51, 49, 49);
  border-radius: 180px;
  box-shadow: 10px 10px 5px grey;
  margin-top: 120px;
}

.card-body  {
  background-color: rgb(51, 49, 49);
  color: white;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;

}



#slika {
  width: 90%;
  background-color: rgb(51, 49, 49);
  position: relative;
  top: -15px;
  left: 15px;
  height: 240px;
  margin-bottom: 0;
  border-radius: 10px;
}

.slika2{
  background-color: rgb(51, 49, 49);
  height: 70%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;

}

.karte {
  position: relative;
  top: 1040px;
  align-self: center;
  justify-content: center;

}

.karte2 {
  position: relative;
  top: 1200px;
}

#kartemob {
  display: none;
}

/*--------------------------KRAJ KARATAAA----------------------------*/

#nav {
  position: fixed;
}




































/*-----------------------RESPONSIVE ZA  MOB---------------------------------*/

@media only screen and (max-width: 600px) {

  body {
    overflow-x: unset;
  }
  
    
    
    .papir {
    clip-path: polygon(50% 40%, 100% 45%, 100% 100%, 0 100%, 0 45%);
    height: 4900px;
    top: -1460px;
    z-index: 2;
    background: linear-gradient(rgb(231, 234, 245), rgb(205, 195, 248));
    }

    .animate__zoomInDown {
        top: 130px;
        font-size: 40px;
    -webkit-text-stroke: 0.5px black;
    margin: 0;
    padding: 0;
    top: 290px;
    left: 20px;
     
        
    }

    .gornji {
        background: url(mobpoz2.jpg);
        width: 100%;
        filter: drop-shadow(30px 10px 4px #4444dd);
        height: 100vh;
        position: fixed;
    }

    .kutak {
        position: relative;
        right: -500px;
        color: rgb(255, 255, 255);
        top: -10px;
    }

    .knjige1 {
        right: -30px;
        top: -50px;
        z-index: -1;
        transform: scale(0.5);
    }

    .knjige2 {
        position: relative;
        z-index: -2;
       right: 100px;
       top: -600px;
       transform: scale(0.34);
    }

    .komp {
        position: relative;
        top: -1020px;
        transform: scale(0.34);
        right: 70px;
    }

    #wave {
        width: 1700px;
        left: -590px;
        filter: drop-shadow(0 0 0.75rem rgb(59, 59, 59));
    }

   .logo1 {
    position: absolute;
       left: -35px;
       transform: scale(0.55);
       z-index: 2;
   }


   li:nth-child(1) {
    font-size: -31px;
    height: 20px;
    margin: 10px;
    
    transform: scale(0.8);
  }
  
  li:nth-child(2) {
    font-size: xx-small;
    height: 20px;
    margin: 10px;
    
    transform: scale(0.8);
  }
  
  li:nth-child(3) {
    font-size: xx-small;
    height: 20px;
    margin: 10px;
    top: 10px;
    transform: scale(0.8);
  }
  
  li:nth-child(4) {
    font-size: xx-small;
    height: 20px;
    margin: 10px;
    top: 10px;
    transform: scale(0.8);
  }
  
  ul {
    width: 100%;
  }

#ikona {
  transform: scale(0.6);
  
}


.karta {
  top: 800px;
  width: 80%;
  left: 10.5%;
}


/*-----------------KARTA MOB---------------------*/

.card {
  margin-left: 40px;
  background-color: rgb(51, 49, 49);
  border-radius: 180px;
  box-shadow: 10px 10px 5px grey;
  margin-top: 120px;
}

.card-body  {
  background-color: rgb(51, 49, 49);
  color: white;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;

}



#slika {
  width: 90%;
  background-color: rgb(51, 49, 49);
  position: relative;
  top: -15px;
  left: 15px;
  height: 240px;
  margin-bottom: 0;
  border-radius: 10px;
}

.slika2{
  background-color: rgb(51, 49, 49);
  height: 70%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;

}

#karte {
  position: relative;
  top: 1340px;
  align-self: center;
  justify-content: center;
  display: none;

}

#karte2 {
  display: none;
}
#kartemob {
  display: block;
  position: relative;
  top: 2340px;
}
  }
